.introText {
  font-size: 2rem;
}

.h1 {
  font-size: 3rem;
  color: var(--colors-heading);
}

.headingWrapper {
  max-width: 85rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 54rem) {
  .headingWrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
