.topTracks {
  list-style: none;
  padding: 0;
}

.trackInfo {
  margin-left: 1rem;
}

.trackLink {
  text-decoration: none;
  color: var(--colors-text);
}

.trackLink img {
  width: 32px;
  height: 32px;
}

.trackLink:hover {
  color: var(--colors-link);
}

.trackLink:hover .artistName {
  color: var(--colors-text);
}

.trackName {
  font-weight: 600;
  text-decoration: underline;
}
