
:root{
  --colors-text: #d7e8ff;
  --colors-link: #00ff85;
  --colors-link-hover: #d7e8ff;
  --colors-heading: #00ff85;
  --bg-color: #141723;
  --colors-border: #ffffff20;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 18px;
  background-color: var(--bg-color);
  color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
  color: var(--colors-link);
}

nav {
  padding: 2rem 2rem 0;
}
nav > a{
  margin-right: 1rem;
}

a:hover {
  color: var(--colors-link-hover);
}

ul {
  padding: 0;
  list-style: none;
}
