
html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  font-size: 14px;
  background-color: #fcffbd;
  color: #1d285c;
}


*,
*:before,
*:after {
  box-sizing: border-box;
}


a {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
  color: var(--colors-link);
}

a:hover {
  color: var(--colors-heading);
}