html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace;
  background: #f5ffb2;
}

a {
  color: inherit;
  text-decoration: underline;
  font-weight: 600;
  color: orange;
}
a:hover {
  color: currentColor;
}
* {
  box-sizing: border-box;
}
