.container {
  max-width: 85rem;
  margin: 0 auto;
  width: 100%;
  color: #1d285c;
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  padding: 0 2rem;
}

.section {
  padding: 1rem;
  text-align: left;
}

.header {
  grid-column-start: 1;
  grid-column-end: 1;
}

.header .h1 {
  font-size: 3rem;
}
.h1 {
  font-weight: 900;
  color: #ff1a7d;
  font-size: 2rem;
}

.introText {
  font-size: 2rem;
}

.grid {
  width: 100%;
  max-width: 100%;
  display: grid;
  font-size: 1rem;
  list-style: none;
  font-weight: 300;
  width: 100%;
  padding: 0;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

.grid__ig {
  column-gap: 1rem;
  row-gap: 2rem;

  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
}

.item {
  border-bottom: 1px solid #1d285c33;
  padding: 1rem 0.25rem;
  color: currentColor;
  font-weight: normal;
  display: flex;
  align-items: center;
}

li:last-child .item {
  border-bottom: 0px;
}

.movie {
  font-weight: bold;
  color: #1d285c;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  width: 100%;
}

.photo {
  flex-direction: column;
}

.movieImage img {
  max-width: 48px;
}

.movieImage p {
  margin: 0;
}

.movieImage p:last-child:not(:first-child) {
  display: none;
}

.movie:hover .movieTitle {
  color: #ff1a7d;
}

.movieDescription {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.movieTitle {
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  margin-bottom: 0.25rem;
}

.movieReview {
  font-weight: normal;
  text-decoration: none;
  color: #1d285c;
}

.via {
  font-size: 1rem;
}

.via a {
  font-weight: 0.75rem;
  font-weight: 500;
  font-weight: bold;
  text-decoration: underline;
}

.igItem {
  display: block;
  position: relative;
  display: flex;
  flex-direction: column;
}

.igPhoto {
  max-width: 400px;
  width: 100%;
  height: auto;
  display: block;
  grid-area: 1/1;
  margin-bottom: 1rem;
}

.topTracks {
  list-style: none;
  padding: 0;
}

.trackInfo {
  margin-left: 1rem;
}

.trackLink {
  text-decoration: none;
  display: block;
  color: #1d285c;
}

.trackLink img {
  width: 32px;
  height: 32px;
}

.trackLink:hover {
  color: #ff1a7d;
}

.trackName {
  font-weight: 600;
  text-decoration: underline;
}

.movieDescription img {
  display: none;
}

@media (min-width: 54rem) {
  .container {
    grid-template-columns: 1fr 1fr 2fr;
  }
  .header {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
