

.page {
  background: var(--bg-color);
  color: var(--colors-text);

  padding: 0 2rem;
}

.container {

  margin: 0 auto;
  width: 100%;
  display: flex;

  max-width: 85rem;

  flex-direction: column;
}


.h1 {
  font-weight: 900;
  color: var(--colors-heading);
  font-size: 2rem;
}


.headingWrapper {
  max-width: 85rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}