

.page {
  background: var(--bg-color);
  color: var(--colors-text);
}

.container {
  max-width: 85rem;
  margin: 0 auto;
  width: 100%;
  display: flex;
  padding: 0 2rem;
}

.h1 {
  font-weight: 900;
  color: var(--colors-heading);
  font-size: 2rem;
}

